.Button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
}


.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Primary {
    color: #0078e7;
}

